<%- partial('_partial/head') %>
  <style type="text/css">a[href] {color: black;}</style>
  <body>
    <main class="markdown-body">
    <%- partial('_partial/header') %>
    <p class="description"><%- config.descriptions %></p>
    <section class="posts">
      <% page.posts.each(function (post) { %>
        <br />
      <article class="post">
        <div class="post-title">
          <h3>
          <a class="post-title-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
          </h3>
        </div>
        <div class="post-meta">
          <% const getTime = (page) => {return Intl.DateTimeFormat('en-US', { month: 'long', day: 'numeric', year: 'numeric', day: '2-digit' }).format(new Date(post.date)).replace(/(\d+)(st|nd|rd|th)/, '$1<sup>$2</sup>');} %>
          <span class="post-time"><%- getTime(page) %></span>
        </div>
        <div class="post-content"><%- post.excerpt %></div>
      </article>
      <% }) %>
    </section>
    <%- partial('_partial/paginator') %>
    <%- partial('_partial/footer') %>
  </main>
  </body>
</html>